@import url('https://fonts.googleapis.com/css2?family=Abyssinica+SIL&family=Paprika&display=swap');
:root {
    /* change the values below to your colors from your palette */
    --primary-color: #42a7d6 ;
    --secondary-color: #255277 ;
    --accent1-color: #95c025;
    --accent2-color: #eefac2;
  
    /* change the values below to your chosen font(s) */
    --heading-font: "Paprika", cursive, sans-serif;
    --paragraph-font: "Abyssinica SIL", serif, Helvetica;
  
    /* these colors below should be chosen from among your palette colors above */
    --headline-color-on-white: #42a7d6;  /* headlines on a white background */ 
    --headline-color-on-color: white; /* headlines on a colored background */ 
    --paragraph-color-on-white: #95c025; /* paragraph text on a white background */ 
    --paragraph-color-on-color: #eefac2; /* paragraph text on a colored background */ 
    --paragraph-background-color: #42a7d6 ;
    --nav-link-color: #255277;
    --nav-background-color: #c8df8b;
    --nav-hover-link-color: #eefac2;
    --nav-hover-background-color: #b4abb2;
  }
#content{
    max-width: 1600px;
    margin: 0 auto;
    font-size: 22px;
}
header{
    display: grid;
    grid-template-columns: 150px auto;
    background-color: #c8df8b;
}
nav{
    display: flex;
    justify-content: space-around;
    font-size: 1.5em;
}
nav a{
    text-align: center;
    color: #255277;
    text-decoration: none;
    font-family: "Abyssinica_SIL", serif, Helvetica;
    padding: 35px;
}
nav a:hover{
    background-color: #b4abb2;
    color: #eefac2;
}
.logo{
    width: 80px;
    border-radius: 40px;
}
#logo_link{
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}
#home-box{
    display: inline-block;
}
#home-grid{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 30px 1fr;
}
#home-img{
    grid-column: 1/2;
    grid-row: 1/3;
    width: 100%;
    z-index: -1;
}
#home-msg{
    grid-row: 1/2;    
}
#home-msg h1{
    text-align: center;  
    margin-top: 20px;  
}
.home-title{
    color: #255277;
    font-family: "Paprika", cursive, sans-serif;
    font-size: 1.5em;
    font-weight: bold;
}
.intro{
    display: inline-block;
    margin: 30px 0;
    width: 100%;
    height: max-content;
    padding: 50px;
    font-family: "Abyssinica SIL", serif, Helvetica;
    font-size: 1.5em;
    text-align: center;
    color: #255277;
    border-top: 10px solid #95c025;
    border-bottom: 10px solid #95c025;
}
#client-grid{
    display: grid;
    grid-template-columns: repeat (10, 150px);
    grid-template-rows: 50px 1fr 1fr 1fr 1fr 50px;
    margin-top: 30px;
}
#background{
    grid-column: 1/11;
    grid-row: 1/7;
    background-color: #eefac2;
    
}
.client{
    width: 100%;
    grid-column: 2/6;
    grid-row: 2/6;
}
.msg{
    grid-column: 5/10;
    grid-row: 3/5;
    background-color: #42a7d6;
}

.msg h2{
    color: #eefac2;
    font-family: "Paprika", cursive, sans-serif;
    text-align: center;
}
.msg p{
    color: white;
    font-family: "Abyssinica SIL", serif, Helvetica;
    padding: 15px;
    text-align: center;
}
.button-box{
text-align: center;
}
.contact{
    background-color: #c8df8b;
    color: #255277;
    text-decoration: none;
    font-family: "Abyssinica SIL", serif, Helvetica;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}
.contact:hover{
    background-color: #b4abb2;
    color: #eefac2
}

footer{
    background-color: #c8df8b;
    padding: 25px 50px;
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 1.5em;
}
footer a{
    color: #255277;
    text-decoration: none;
    font-family: "Abyssinica SIL", serif, Helvetica;
}
footer a:hover{
    background-color: #b4abb2;
    color: #eefac2;
    font-family: "Abyssinica SIL", serif, Helvetica;
}
footer p{
    font-family: "Abyssinica SIL", serif, Helvetica;
}
footer p a:hover{
    text-decoration: underline;
    font-family: "Abyssinica SIL", serif, Helvetica;
}
footer .social img{
    padding-top: 15px;
}